body, div, h1, footer p, h2, h3, footer ul a, p, img, ul, li, header, footer, section {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

* {
  box-sizing: border-box;
}

#bloc-page {
  margin: auto;
  width: 992px;
}
@media screen and (max-width: 768px) {
  #bloc-page {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #bloc-page {
    width: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
}

.contain {
  object-fit: cover;
}

@font-face {
  font-family: "shrikhand";
  src: url(../../police/shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../../police/roboto/Roboto-Regular.ttf);
}
h1, footer p {
  font-family: "shrikhand", Georgia, "Times New Roman", Times, serif;
}

h2, h3, footer ul a {
  font-family: "roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px #d1d1d1;
}

#logo {
  width: 180px;
  height: 35px;
}

@font-face {
  font-family: "shrikhand";
  src: url(../../police/shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../../police/roboto/Roboto-Regular.ttf);
}
h1, footer p {
  font-family: "shrikhand", Georgia, "Times New Roman", Times, serif;
}

h2, h3, footer ul a {
  font-family: "roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  padding: 20px;
}
footer p {
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  padding-bottom: 10px;
}
footer ul a {
  display: flex;
  flex-direction: row;
  color: white;
}
footer ul a .icon {
  margin-right: 10px;
  width: 20px;
}

#restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1000px;
  padding: 20px;
}

.restaurant-prev {
  background-color: white;
  width: 100%;
  margin: auto;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px #d1d1d1;
  overflow: hidden;
}
.restaurant-prev__image {
  width: 100%;
  height: 135px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.restaurant-prev__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
}

#location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

#operation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.operation__step {
  display: flex;
  flex-direction: row;
}
.operation__step .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  height: 75px;
  width: 100%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0px 3px 10px #d1d1d1;
}
.operation__step .card .icon {
  width: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
.operation__step .card .icon i {
  color: grey;
}

.number {
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 27.5px;
  left: 8.5px;
}

#reservation {
  background-color: #F6F6F6;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reservation h2 {
  text-align: center;
  width: 70%;
}
#reservation p {
  text-align: center;
  width: 80%;
}

.button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 220px;
  height: 46px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px #d1d1d1;
  color: white;
}
.button a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
