@import "../utils/variables";

.button {
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    width: 220px;
    height: 46px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(209, 209, 209);
    color: white;
    a {
    color: white;
    }
}