.icon-heart {
    display: flex;
    align-items: center;
    font-size: 30px;

}

.not-clicked {
    position: relative;
    float: right;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    animation-fill-mode: forwards;
    top: 2px;
}

.icon-heart:hover .not-clicked {
    opacity: 0;
}

.when-clicked{
    @include text-gradient;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    animation-fill-mode: forwards;
    margin-right: -32px;
    width: 32px;
}

.icon-heart:hover .when-clicked {
    opacity: 1;
}