.icon-heart {
    display: flex;
    align-items: center;
    .fa-heart {
        font-size: 30px;
    }
}

.not-clicked {
    position: relative;
    left: 30px;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    animation-fill-mode: forwards;
}

.icon-heart:hover .not-clicked{
    opacity: 0;
}

.when-clicked{
    @include text-gradient;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    animation-fill-mode: forwards;
}

.icon-heart:hover .when-clicked{
    opacity: 1;
}