@import "../utils/variables";
@import "../utils/mixins";

// ---------- reset CSS

body, div, h1, h2, h3, h4, p, img, ul, li, header, footer, section{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

// ----------

* {
    box-sizing: border-box;
}

#bloc-page{
    background-color: $background-colour;
    margin: auto;
    width: 100%;
    @include desktop-only{
        width: 992px;
    }
}

img{
    width: 100%;
    height: 100%;
}

.contain{
    object-fit: cover;
}