@font-face{
    font-family: "shrikhand";
    src: url(../police/shrikhand/Shrikhand-Regular.ttf);
}

@font-face{
    font-family: "roboto";
    src: url(../police/roboto/Roboto-Regular.ttf);
}

h1 {
    @include title-and-logo-only;
    font-size: 28px;
}

h2 {
    @include general-typo;
    font-size: 26px;
    height: 40px;
}

h3 {
    @include general-typo;
    font-size: 20px;
}

h4 {
    @include general-typo;
    font-size: 18px;
    font-weight: bold;
}

p, div {
    @include general-typo;
    font-size: 14px;
}