#loading-animation{
    display: flex;
    flex-direction: column;
    @include all-centered;
    width: 100%;
    height: 100%;
    background-color: #b1b1b1;
    animation-name: first-page;
    animation-duration: 2900ms;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
}

@keyframes first-page {
    from {
        visibility: visible;
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

#text-animation {
    display: flex;
    flex-direction: column;
    @include all-centered;
    text-align: center;
    @include not-on-mobile {
        flex-direction: row;
    }
}

.fa-spinner {
    font-size: 100px;
    color: $colour-tertiary;
    text-shadow: 5px 5px 5px grey;
    animation: spinner 800ms ease-in-out infinite;
    margin-top: 20px;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.p-animation {
    @include title-and-logo-only;
    font-size: 80px;
    background: -webkit-linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}


.p-1 {
    animation: appearance-delay1 3000ms forwards;
    width: 100%;
}

@keyframes appearance-delay1 {
    from {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

.p-2 {
    animation: appearance-delay2 3000ms forwards;
    width: 100%;
}

@keyframes appearance-delay2 {
    from {
        opacity: 0;
    }
    37% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

.p-3 {
    animation: appearance-delay3 3000ms forwards;
    width: 100%;
}

@keyframes appearance-delay3 {
    from {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}