#location {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    @include all-centered;
    height: 50px;
    box-shadow: inset 0px 3px 3px rgb(209, 209, 209);
}

.fa-map-marker-alt{
    margin-right: 20px;
}