#operation-section{
    @include column;
    height: 450px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $background-colour-card;
    @include not-on-mobile {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }
    h2 {
        @include not-on-mobile {
            width: 100%;
        }
    }
}

.operation-step{
    display: flex;
    flex-direction: row;
    @include not-on-mobile {
        width: 300px;
    }
    &__number{
        background-color: $colour-primary;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        font-size: 12px;
        display: flex;
        @include all-centered;
        position: relative;
        top: 27.5px;
        left: 8.5px;
    }
    &__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background-colour;
        height: 75px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 25px;
        box-shadow: 0px 3px 10px rgb(209, 209, 209);
        font-weight: bold;
        &:hover {
            background-color: #F5EDFF;
        }
        .icon {
          width: 50px;
          margin-left: 10px;
          display: flex;
          justify-content: center;
          i {
              color:grey;
          }
        }
    }
}

