#operation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $background-colour-card;
}

.operation__step{
    display: flex;
    flex-direction: row;
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background-colour;
        height: 75px;
        width: 100%;
        margin: auto;
        border-radius: 25px;
        box-shadow: 0px 3px 10px rgb(209, 209, 209);
        font-weight: bold;
        .icon {
          width: 50px;
          margin-left: 10px;
          display: flex;
          justify-content: center;
          i {
              color:grey;
          }
        }
    }
}

.number{
    background-color: $colour-primary;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 27.5px;
    left: 8.5px;
}