#page-hidden {
    animation-name: second-page;
    animation-duration: 3100ms;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 2;
}

@keyframes second-page{
    from {
        visibility: hidden;
    }
    95% {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}