#restaurants{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
    padding: 20px;
}

.restaurant-prev {
    background-color: $background-colour-card;
    width: 100%;
    margin: auto;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgb(209, 209, 209);
    overflow: hidden;
    &__image {
        width: 100%;
        height: 135px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
    }
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
}

.icon {
    display: flex;
    align-items: center;
    .fa-heart {
        font-size: 30px;
    }
}

.not-clicked{
    position: relative;
    left: 30px;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    &:hover, &:active {
        opacity: 0;
    }
}

.when-clicked{
    // color: $colour-primary;
    background: -webkit-linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    &:hover, &:active {
        opacity: 1;
    }
}
