#restaurants{
    @include column;
    height: 1000px;
    padding: $padding-big;
    @include not-on-mobile {
        flex-direction: row;
        flex-wrap: wrap;
        height: 550px;
    }
    h2 {
        @include not-on-mobile {
            width: 100%;
        }
    }
}

.restaurant-prev {
    background-color: $background-colour-card;
    width: 100%;
    margin: auto;
    height: 200px;
    border-radius: $border-radius-general;
    box-shadow: $box-shadow;
    overflow: hidden;
    position: relative;
    @include not-on-mobile {
        width: 46%;
    }
    &__image {
        width: 100%;
        height: 135px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
    }
    &__body {
        @include row;
        padding: $padding-small;
    }
    .icon-heart {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}