$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$background-colour: #F6F6F6;
$background-colour-card: white;
$background-colour-button: linear-gradient(to bottom right, $colour-secondary, $colour-primary);

$border-radius-general: 15px;
$margin-general: 15px;
$margin-big: 20px