footer {
    background-color: #353535;
    @include column;
    height: 190px;
    padding: $padding-big;
    @include not-on-mobile {
        align-items: center;
    }
    p {
        @include title-and-logo-only;
        color: white;
        font-size: 20px;
    }
    ul{
        @include column;
        height: 120px;
        padding-bottom: $padding-small;
        a{
            @include row;
            justify-content: inherit;
            color: white;
            width: 100%;
            @include not-on-mobile {
                justify-content: center;
            }
            .icon{
                margin-right: 10px;
                width: 20px;
            }
        }
    }
}