#menu {
    background-color: $background-colour;
    @include column;
    align-items: center;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -40px;
    
    header {
        @include row;
        align-items: center;
        width: 100%;
        padding: 20px;
        @include not-on-mobile {
            width: 90%;
            margin: auto;
        }
    }

    .dish {
        @include column;
        width: 100%;
        @include not-on-mobile {
            width: 90%;
            margin: auto;
        }
        &__title {
            text-transform: uppercase;
            margin-left: $margin-general;
            margin-top: $margin-big;
        }
        &__underline {
            width: 40px;
            height: 3px;
            background-color: $colour-tertiary;
            margin-left: $margin-general;
            margin-bottom: $margin-general;
            margin-top: 7px;
        }
        &__card {
            background-color: $background-colour-card;
            box-shadow: 0px 3px 10px rgb(209, 209, 209);
            border-radius: $border-radius-general;
            height: 65px;
            margin: $margin-general;
            margin-top: inherit;
            overflow: hidden;
            @include row;
            padding: 10px;
            position: relative;
            @include not-on-mobile {
                width: 80%;
                margin: auto;
                margin-top: $margin-general;
            }
            &--body {
                @include column;
                p, h4 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &--price{
                font-weight: bold;
                @include column;
                width: 30px;
            }
            &--check-box {
                background-color: $colour-tertiary;
                width: 65px;
                height: 65px;
                display: flex;
                @include all-centered;
                color: white;
                font-size: 25px;
            }
        }
    }

    .button {
        margin: 30px;
    }
}

// ---------- ANIMATION

.dish-animation {
    position: relative;
    top: 50px;
    opacity: 0;
    animation: appearance-delay__card 500ms forwards ease-in-out;
}

@for $i from 0 to 4 {
    .dish-animation:nth-child(#{$i + 1}) {
        animation-delay: calc(250ms*$i) !important;
    }
}

@keyframes appearance-delay__card {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: -10px;
    }
}

.price-animation {
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: transform 300ms 50ms ease-in-out;
}

.dish__card:hover .price-animation {
    transform: translate(-65px, 0);
}

.check-animation {
    position: absolute;
    top: 0px;
    right: -65px;
    transition: transform 300ms 50ms ease-in-out;
}

.dish__card:hover .check-animation {
    transform: translate(-65px, 0);
}

.fa-check-circle {
    transition: transform 330ms 100ms ease-in-out;
    animation-fill-mode: forwards;
}

.dish__card:hover .fa-check-circle {
    transform: rotate(1turn);
}

.dish__card:hover .body-animation {
    animation: hide-when-to-big 300ms 50ms ease-in-out forwards;
}

@keyframes hide-when-to-big {
    0% {
        width: 100%;
    }
    100% {
        width: calc(100% - 100px);
    }
}