@import "../utils/variables";
@import "../base/typography";

#menu {
    background-color: $background-colour;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .button {
    margin: 30px;
    }
}

.dish {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    .card {
        background-color: $background-colour-card;
        box-shadow: 0px 3px 10px rgb(209, 209, 209);
        border-radius: 15px;
        height: 65px;
        padding: 10px;
        margin: 15px;
        margin-top: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.price {
    font-weight: bold;
}